@media (max-width: 480px) {
  /* ------ header_480 ------ */

  header {
    padding: 28px 20px;
  }

  .guitar_logo {
    width: 40px;
    height: 40px;
  }

  .header_button {
    width: 32px;
    height: 32px;
  }

  /* ------ home_section_480 ------ */

  h1 {
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;
  }

  /* ------ home_section2_480 ------ */

  .home_section2 {
    height: 475px;
    padding-block: 32px;
    padding-left: 20px;
  }

  .title {
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;
  }

  .line {
    width: 156px;
  }

  /* ------ footer_480 ------ */

  footer {
    padding: 32px 153px;
    height: 628px;
    /* flex-wrap: wrap; */
    flex-direction: column;
    row-gap: 40px;
  }

  .footer_sect1,
  .footer_sect2,
  .address_sect{
    align-items: center;
  }

}

@media (max-width: 320px){
  /* ------ header_320 ------ */

  header{
    padding-inline: 8px;
  }

  /* ------ home_section_320 ------ */

  .home_section{
    height: 320px;
  }

  /* ------ home_section2_320 ------ */

  .home_section2{
    padding-left: 8px;
  }
}
